body{
    display: block;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color:rebeccapurple;
    font-family: Verdana, Tahoma, sans-serif;
}
input{
    height: 30px;  
    border-radius: 30px;
    border:2px solid purple;
    background-color:white;
}
button{
    height: 30px;
    width: 150px;
    background-color:white;
    border-radius: 30px;
    border:2px solid purple;
}
.div{
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px purple;
    background-color:mediumpurple;
    color: white;
    
}
h5{
    color:white;
}